$white-color: #F5F2EB;
$red-color: #8A2E20;
$dark-color: #7F7F7F;
$light-red: #AB4A35;

@font-face {
  font-family: 'Chron';
  src: url('cd.otf'); 
}
@font-face {
  font-family: 'ChronItal';
  src: url('cd_i.otf'); 
}
@font-face {
  font-family: 'ChronText';
  src: url('ct.otf'); 
}
$head-font: "Chron", "Didot", "Bodoni", serif;
$em-font: "ChronItal", "Didot", "Bodoni", serif;
$body-font: "ChronText", "Didot", "Bodoni", serif;


h1 {
  font-family: $head-font;
  color: $dark-color;
  font-size: 4.2em;
}

h2 {
 font-family: $em-font;
  color: $dark-color;
  font-size: 3em;
}

h3, h4 {
  font-family: $em-font;
  color: $dark-color;
}

p {
  font-family: $body-font;
  color: $dark-color
}

ul {
  font-family: $body-font;
  color: $dark-color;
  list-style-type: square;
}

a {
  color: $red-color;
  transition-duration: 200ms;
}

a:hover {
  color: #AB4A35;
}

.topphoto {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;

     background: url(../img/leek.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {  background-color:#373737;}
#logo {
	margin-top: 10%;
}

#restof {
 // margin-top: -2%;


}
#pagecontain {
 background-color: $white-color;
 
 // border-radius: 5px;
}

#papers {
  
}
#topheadline {
  padding-top: 3em;
}

#vegs {
}

.footer {
  padding-bottom: 50px;
}

p.adr {
  margin-bottom: 0;
}

// TOPBAR NAV

.top-bar {
  background-color: #8A2E20;
  height: 75px;
  border-radius: 5px;
}

.contain-to-grid {
  background-color: #8A2E20; 
}

#wordmark {
  margin-top: 12px;
}

.rightsidenav-ul  {
  margin-top: 17px;
}

.rightsidenav-contents {
  font-family: $em-font;
  font-weight: 100;
  display: inline;
  color: #F5F2EB;
  line-height: 45px;
  margin-right: 20px;
} 

a.reserve {
  color: $white-color;
}
a.reserve:hover {
  opacity: 0.6;
  transition-duration: 200ms;
}

// button styles for later
.inbutton {
  color: $dark-color;
}

button {
  margin-top: 5%;
  margin-bottom: 6%;
  margin-left: 6%;
  position: relative;
  font-family: $head-font;
  font-size: 1.3em;
  color: $dark-color;
  background-color: transparent;
  padding: 24px 120px;
  // border
  border: 1px solid $dark-color;
}

button:after {
   content: " ";
   position: absolute;
    // z-index: -1;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 1px solid $dark-color;
}

button:hover {
  background-color: transparent;
  color: $dark-color;
 border: 1px dotted $dark-color;
}

button:active {
  
}