$white-color: #F5F2EB;
$red-color: #AB4A35;
$dark-color: #7F7F7F;

@font-face {
  font-family: 'Chron';
  src: url('cd.otf'); 
}
@font-face {
  font-family: 'ChronItal';
  src: url('cd_i.otf'); 
}
@font-face {
  font-family: 'ChronText';
  src: url('ct.otf'); 
}
$head-font: "Chron", "Didot", "Bodoni", serif;
$em-font: "ChronItal", "Didot", "Bodoni", serif;
$body-font: "ChronText", "Didot", "Bodoni", serif;


h1 {
  font-family: $head-font;
  color: $dark-color;
  font-size: 4.2em;
}

h2 {
 font-family: $em-font;
  color: $dark-color;
  font-size: 3em;
}

h3 {
  font-family: $em-font;
  color: $dark-color;
}

p {
  font-family: $body-font;
  color: $dark-color
}



.topphoto {
   width: 100%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;

     background: url(../img/leek.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {  background-color:#373737;}
#logo {
	margin-top: 10%;
}

#restof {
 margin-top: -2%;


}
#pagecontain {
 background-color: $white-color;
 
 // border-radius: 5px;
}

#papers {
  
}
#topheadline {
  padding-top: 3em;
}

#vegs {
}

// TOPBAR NAV

.top-bar {
  background-color: #8A2E20;
  height: 75px;
  border-radius: 5px;
}

.contain-to-grid {
  background-color: #8A2E20; 
}

#wordmark {
  margin-top: 12px;
}

.rightsidenav-ul  {
  margin-top: 17px;
}

.rightsidenav-contents {
  font-family: $body-font;
  font-weight: 100;
  display: inline;
  color: #F5F2EB;
  line-height: 45px;
  margin-right: 20px;
} 